.lg {
    font-size: 300%;
}
.pad {
    padding: 10px;
}
/deep/ .md-tab-header {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
/deep/ .md-tab-header::-webkit-scrollbar { 
  display: none;
}
/deep/ .md-tab-label {
    min-width: fit-content !important; 
}