.lg {
    font-size: 300%;
}
.pad {
    padding: 10px;
}
.wide {
    width: 100%;
}
.center {
    text-align: center;
}
@media (min-width: 550px) and (orientation: landscape){
    .left {
        width: 50%;
        display: inline-block;
    }
    .right {
        width: 50%;
        float: right;
    }
}
/deep/ .md-tab-label {
    line-height: 24px !important;
}
/deep/ .md-input-element {
    text-align: center !important;
}
/deep/ .md-input-underline {
    text-align: left !important;
}