.lg {
    font-size: 300%;
}
.pad {
    padding: 10px;
}
.wide {
    width: 100%;
}
.center {
    text-align: center;
}
/deep/ .md-tab-header {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
/deep/ .md-tab-header::-webkit-scrollbar { 
  display: none;
}
/deep/ .md-tab-label {
    min-width: fit-content !important; 
}
/deep/ .md-tab-label {
    line-height: 24px !important;
}
/deep/ .md-input-element {
    text-align: center !important;
}